@charset "UTF-8";
/**
 * 
 * @authors Jolin yu (yujing1@bitauto.com)
 * @date    2014-09-02 14:27:13
 * @version $Id$
 */
 .select-city{

 }
.select-city dl{
 	overflow: hidden;
	padding: 15px 0 15px 0;
	font-size: 16px;
	
}
.select-city dl.my-city{
 	overflow: hidden;
	font-size: 16px;
	height: 43px;	
}
.select-city dl dt{
 	float: left;
	font: bold 16px "microsoft yahei";
	width: 70px;
	padding-right: 15px;
	text-align: right;
}
.select-city dl dd{
 	padding-left: 5px;
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
}
.select-city dl.my-city dd{
 	overflow: hidden;
	font-size: 16px;
	height: 40px;	
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}
.select-city-list{height: 60px;}
.select-city-list ul{}
.select-city-list ul li{
	width: 90px;
	height: 35px;
	float: left;
	margin-right: 20px;
}
.select-city-list ul li a{
	display: block;
	float: left;
	width: 88px;
	height: 33px;
	border: 1px solid #ccc;
	background: #eef1f6;
	line-height: 33px;
	text-align: center;
	color: #333;
	text-decoration: none;
}

.select-city-list ul li a:hover{
	background: #f69006;
	border: 1px solid #f69006;
	color: #fff;
}
.select-city dl.small-city{
	padding: 0;
}
.select-city dl.small-city dt{
	padding-top: 15px;
}
.select-city dl.small-city dd{

	padding: 10px 0 10px 5px; 
	height: 35px;
	border: 0 none;
}
.select-city dl.small-city dd div.select-city-list{
	height: 35px;
}
p.city-bottom{
	border-top:1px solid #e7e7e7;
	font-size: 14px;
	color: #999;
	padding-top: 17px;
}
p.not-opened{
	float: left;
	padding-left: 50px;	
	font-size: 14px;
	color: #666;
	font-weight: normal;	
}
p.not-opened a{
	color: #335498;
	margin: 0 20px;
}
span.sel-city{
	float: left;
}
.brand-box{
	background: none;
	border-bottom: 2px solid #dfdfdf;
	border-top: 0 none;
}
.brand-car{
	left:50px;
	overflow: hidden;
	zoom: 1;
	position: absolute;
	top: 3px;
}
.brand-car li{
	border: 0 none;
	float: left;
}
.brand-car li a{
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
	text-decoration: none;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	margin-right: 13px;
	color: #333;
}
.brand-car li a:hover{
	background: #f37804;
	color: #fff;
}
span.sel-title{
	font-family: "microsoft yahei";
	display: inline-block;
	padding-top: 3px;
	font-size: 14px;
}
.tit_s2{
	border: 0 none;
}

/*品牌 start*/

.bybrand_list {
	float: left;
	width: 990px;
	background: url(../images/brand-bg.png) repeat-y;
}
.bybrand_list dt {
	float: left;
	width: 990px;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
	line-height: 40px;
	height: 40px;
	position: relative;
}
.bybrand_list dt label {
	float: left;
	font-family: microsoft yahei;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}
.bybrand_list dt div {
	position: absolute;
	top: -50px;
	height: 50px;
	overflow: hidden;
	width: 10px;
}
.bybrand_list dt div span {
	display: block;
}
.bybrand_list .b {
	padding-bottom: 30px;
	width: 190px;
}
.bybrand_list .brand {
	margin: 30px 70px 7px;
}

.bybrand_list .brand {
	background:url(../images/all-brand.png) no-repeat;
	display: inline;
	float: left;
	margin: 12px 52px 7px;
	overflow: hidden;
	padding: 0;
	width: 55px;
	height: 55px;
	cursor: pointer;
	border: 1px solid #ccc;
}
.bybrand_list .m_9_b {
	background-position: -440px 0;
}

.bybrand_list .brandname {
	color: #333;
	font-size: 18px;
	text-align: center;
}
.bybrand_list dd {
	float: left;
	overflow: hidden;
}
.bybrand_list .have {
	padding: 0 0 0 30px;
	width: 770px;
}
.bybrand_list h2 {
	padding: 30px 0 12px 0;
	float: left;
	width: 100%;
	font-family: "microsoft yahei";
	font-weight: bold;
	font-size: 16px;
}
.bybrand_list h2 a{
	color: #333;
	
}
.bybrand_list ul {
	float: left;
	width: 784px;
	padding: 0 0 5px 0;
}
.bybrand_list li {
	width: 195px;
	float: left;
	height: 36px;
}
.bybrand_list li .name {
	width: 190px;
	overflow: hidden;
	height: 22px;
	white-space: nowrap;
}
.bybrand_list li .name a{
	color: #335498;
	font-size: 14px;
}
.bybrand_list li .bj {
	color: #999;
}
.bybrand_list .border {
	padding: 0 0 12px 0;
}
.bybrand_list .brand {
	margin: 30px 70px 7px;
}
.bybrand_list .line {
	width: 100%;
	float: left;
	background: #e9e9e9;
	font-size: 0;
	height: 1px;
	overflow: hidden;
}
/*合作伙伴链接*/
.links-left{
	margin-top: 20px;
	float: left;
	width: 715px;
	border-right: 1px solid #dfdfdf;
}
.links-left li{
	float: left;
	width: 130px;
	line-height: 40px;
	background: url(../images/point.png) 0 center no-repeat;
	padding-left: 10px;

}
.links-left li a{
	color: #335498;
	font-size: 14px;
}
.links-right{
	margin-top: 110px;
	float: left;
	width: 274px;
	text-align: center;
}
a.low-price-btn{
	display: inline-block;
	background: #f99000;
	width: 200px;
	height: 48px;
	font-size: 18px;
	color: #fff;
	line-height: 48px;
	text-align: center;
	font-weight: bold;
}
a.low-price-btn:hover{
	color: #fff !important; 
	background: #f26e04 !important;
	text-decoration: none !important;
}
/*品牌图片*/
.bybrand_list .m_100_b{background-position:-5445px 0}.bybrand_list .m_101_b{background-position:-5500px 0}.bybrand_list .m_102_b{background-position:-5555px 0}.bybrand_list .m_103_b{background-position:-5610px 0}.bybrand_list .m_104_b{background-position:-5665px 0}.bybrand_list .m_105_b{background-position:-5720px 0}.bybrand_list .m_106_b{background-position:-5775px 0}.bybrand_list .m_107_b{background-position:-5830px 0}.bybrand_list .m_108_b{background-position:-5885px 0}.bybrand_list .m_109_b{background-position:-5940px 0}.bybrand_list .m_10_b{background-position:-495px 0}.bybrand_list .m_110_b{background-position:-5995px 0}.bybrand_list .m_111_b{background-position:-6050px 0}.bybrand_list .m_112_b{background-position:-6105px 0}.bybrand_list .m_113_b{background-position:-6160px 0}.bybrand_list .m_114_b{background-position:-6215px 0}.bybrand_list .m_115_b{background-position:-6270px 0}.bybrand_list .m_116_b{background-position:-6325px 0}.bybrand_list .m_119_b{background-position:-6490px 0}.bybrand_list .m_123_b{background-position:-6710px 0}.bybrand_list .m_124_b{background-position:-6765px 0}.bybrand_list .m_126_b{background-position:-6875px 0}.bybrand_list .m_127_b{background-position:-6930px 0}.bybrand_list .m_128_b{background-position:-6985px 0}.bybrand_list .m_129_b{background-position:-7040px 0}.bybrand_list .m_12_b{background-position:-605px 0}.bybrand_list .m_133_b{background-position:-7260px 0}.bybrand_list .m_134_b{background-position:-7315px 0}.bybrand_list .m_135_b{background-position:-7370px 0}.bybrand_list .m_136_b{background-position:-7425px 0}.bybrand_list .m_137_b{background-position:-7480px 0}.bybrand_list .m_138_b{background-position:-7535px 0}.bybrand_list .m_13_b{background-position:-660px 0}.bybrand_list .m_140_b{background-position:-7645px 0}.bybrand_list .m_141_b{background-position:-7700px 0}.bybrand_list .m_142_b{background-position:-7755px 0}.bybrand_list .m_143_b{background-position:-7810px 0}.bybrand_list .m_144_b{background-position:-7865px 0}.bybrand_list .m_145_b{background-position:-7920px 0}.bybrand_list .m_146_b{background-position:-7975px 0}.bybrand_list .m_147_b{background-position:-8030px 0}.bybrand_list .m_148_b{background-position:-8085px 0}.bybrand_list .m_149_b{background-position:-8140px 0}.bybrand_list .m_14_b{background-position:-715px 0}.bybrand_list .m_150_b{background-position:-8195px 0}.bybrand_list .m_151_b{background-position:-8250px 0}.bybrand_list .m_152_b{background-position:-8305px 0}.bybrand_list .m_153_b{background-position:-8360px 0}.bybrand_list .m_15_b{background-position:-770px 0}.bybrand_list .m_166_b{background-position:-9075px 0}.bybrand_list .m_16_b{background-position:-825px 0}.bybrand_list .m_17_b{background-position:-880px 0}.bybrand_list .m_18_b{background-position:-935px 0}.bybrand_list .m_19_b{background-position:-990px 0}.bybrand_list .m_20_b{background-position:-1045px 0}.bybrand_list .m_21_b{background-position:-1100px 0}.bybrand_list .m_23_b{background-position:-1210px 0}.bybrand_list .m_24_b{background-position:-1265px 0}.bybrand_list .m_25_b{background-position:-1320px 0}.bybrand_list .m_26_b{background-position:-1375px 0}.bybrand_list .m_27_b{background-position:-1430px 0}.bybrand_list .m_28_b{background-position:-1485px 0}.bybrand_list .m_29_b{background-position:-1540px 0}.bybrand_list .m_2_b{background-position:-55px 0}.bybrand_list .m_30_b{background-position:-1595px 0}.bybrand_list .m_31_b{background-position:-1650px 0}.bybrand_list .m_32_b{background-position:-1705px 0}.bybrand_list .m_33_b{background-position:-1760px 0}.bybrand_list .m_34_b{background-position:-1815px 0}.bybrand_list .m_35_b{background-position:-1870px 0}.bybrand_list .m_36_b{background-position:-1925px 0}.bybrand_list .m_37_b{background-position:-1980px 0}.bybrand_list .m_38_b{background-position:-2035px 0}.bybrand_list .m_39_b{background-position:-2090px 0}.bybrand_list .m_3_b{background-position:-110px 0}.bybrand_list .m_40_b{background-position:-2145px 0}.bybrand_list .m_41_b{background-position:-2200px 0}.bybrand_list .m_42_b{background-position:-2255px 0}.bybrand_list .m_43_b{background-position:-2310px 0}.bybrand_list .m_44_b{background-position:-2365px 0}.bybrand_list .m_45_b{background-position:-2420px 0}.bybrand_list .m_47_b{background-position:-2530px 0}.bybrand_list .m_48_b{background-position:-2585px 0}.bybrand_list .m_49_b{background-position:-2640px 0}.bybrand_list .m_4_b{background-position:-165px 0}.bybrand_list .m_50_b{background-position:-2695px 0}.bybrand_list .m_51_b{background-position:-2750px 0}.bybrand_list .m_52_b{background-position:-2805px 0}.bybrand_list .m_53_b{background-position:-2860px 0}.bybrand_list .m_54_b{background-position:-2915px 0}.bybrand_list .m_55_b{background-position:-2970px 0}.bybrand_list .m_56_b{background-position:-3025px 0}.bybrand_list .m_57_b{background-position:-3080px 0}.bybrand_list .m_58_b{background-position:-3135px 0}.bybrand_list .m_59_b{background-position:-3190px 0}.bybrand_list .m_5_b{background-position:-220px 0}.bybrand_list .m_60_b{background-position:-3245px 0}.bybrand_list .m_61_b{background-position:-3300px 0}.bybrand_list .m_62_b{background-position:-3355px 0}.bybrand_list .m_63_b{background-position:-3410px 0}.bybrand_list .m_64_b{background-position:-3465px 0}.bybrand_list .m_65_b{background-position:-3520px 0}.bybrand_list .m_66_b{background-position:-3575px 0}.bybrand_list .m_67_b{background-position:-3630px 0}.bybrand_list .m_68_b{background-position:-3685px 0}.bybrand_list .m_69_b{background-position:-3740px 0}.bybrand_list .m_6_b{background-position:-275px 0}.bybrand_list .m_70_b{background-position:-3795px 0}.bybrand_list .m_71_b{background-position:-3850px 0}.bybrand_list .m_72_b{background-position:-3905px 0}.bybrand_list .m_73_b{background-position:-3960px 0}.bybrand_list .m_74_b{background-position:-4015px 0}.bybrand_list .m_75_b{background-position:-4070px 0}.bybrand_list .m_76_b{background-position:-4125px 0}.bybrand_list .m_77_b{background-position:-4180px 0}.bybrand_list .m_78_b{background-position:-4235px 0}.bybrand_list .m_79_b{background-position:-4290px 0}.bybrand_list .m_7_b{background-position:-330px 0}.bybrand_list .m_80_b{background-position:-4345px 0}.bybrand_list .m_81_b{background-position:-4400px 0}.bybrand_list .m_82_b{background-position:-4455px 0}.bybrand_list .m_83_b{background-position:-4510px 0}.bybrand_list .m_84_b{background-position:-4565px 0}.bybrand_list .m_85_b{background-position:-4620px 0}.bybrand_list .m_86_b{background-position:-4675px 0}.bybrand_list .m_87_b{background-position:-4730px 0}.bybrand_list .m_88_b{background-position:-4785px 0}.bybrand_list .m_89_b{background-position:-4840px 0}.bybrand_list .m_8_b{background-position:-385px 0}.bybrand_list .m_90_b{background-position:-4895px 0}.bybrand_list .m_91_b{background-position:-4950px 0}.bybrand_list .m_92_b{background-position:-5005px 0}.bybrand_list .m_93_b{background-position:-5060px 0}.bybrand_list .m_94_b{background-position:-5115px 0}.bybrand_list .m_95_b{background-position:-5170px 0}.bybrand_list .m_96_b{background-position:-5225px 0}.bybrand_list .m_97_b{background-position:-5280px 0}.bybrand_list .m_98_b{background-position:-5335px 0}.bybrand_list .m_99_b{background-position:-5390px 0}.bybrand_list .m_9_b{background-position:-440px 0}.bybrand_list .m_162_b{background-position:-8855px 0}.bybrand_list .m_163_b{background-position:-8910px 0}.bybrand_list .m_164_b{background-position:-8965px 0}.bybrand_list .m_157_b{background-position:-8580px 0}.bybrand_list .m_159_b{background-position:-8690px 0}.bybrand_list .m_161_b{background-position:-8800px 0}.bybrand_list .m_155_b{background-position:-8470px 0}.bybrand_list .m_167_b{background-position:-9130px 0}.bybrand_list .m_168_b{background-position:-9185px 0}.bybrand_list .m_169_b{background-position:-9240px 0}.bybrand_list .m_171_b{background-position:-9350px 0}.bybrand_list .m_177_b{background-position:-9680px 0}.bybrand_list .m_179_b{background-position:-9790px 0}.bybrand_list .m_180_b{background-position:-9845px 0}.bybrand_list .m_184_b{background-position:-10065px 0}.bybrand_list .m_183_b{background-position:-10010px 0}.bybrand_list .m_172_b{background-position:-9405px 0}.bybrand_list .m_165_b{background-position:-9020px 0}.bybrand_list .m_170_b{background-position:-9295px 0}.bybrand_list .m_156_b{background-position:-8525px 0}.bybrand_list .m_174_b{background-position:-9515px 0}.bybrand_list .m_178_b{background-position:-9735px 0}.bybrand_list .m_181_b{background-position:-9900px 0}.bybrand_list .m_182_b{background-position:-9955px 0}.bybrand_list .m_183_b{background-position:-10010px 0}.bybrand_list .m_184_b{background-position:-10065px 0}.bybrand_list .m_185_b{background-position:-10120px 0}.bybrand_list .m_186_b{background-position:-10175px 0}.bybrand_list .m_46_b{background-position:-2475px 0}.bybrand_list .m_117_b{background-position:-6380px 0}.bybrand_list .m_118_b{background-position:-6435px 0}.bybrand_list .m_120_b{background-position:-6545px 0}.bybrand_list .m_121_b{background-position:-6600px 0}.bybrand_list .m_122_b{background-position:-6655px 0}.bybrand_list .m_125_b{background-position:-6820px 0}.bybrand_list .m_130_b{background-position:-7095px 0}.bybrand_list .m_132_b{background-position:-7205px 0}.bybrand_list .m_139_b{background-position:-7590px 0}.bybrand_list .m_154_b{background-position:-8415px 0}.bybrand_list .m_175_b{background-position:-9570px 0}.bybrand_list .m_176_b{background-position:-9625px 0}.bybrand_list .m_187_b{background-position:-10230px 0}.bybrand_list .m_188_b{background-position:-10285px 0}.bybrand_list .m_189_b{background-position:-10340px 0}.bybrand_list .m_190_b{background-position:-10395px 0}.bybrand_list .m_191_b{background-position:-10450px 0}.bybrand_list .m_192_b{background-position:-10505px 0}.bybrand_list .m_193_b{background-position:-10560px 0}.bybrand_list .m_194_b{background-position:-10615px 0}.bybrand_list .m_195_b{background-position:-10670px 0}.bybrand_list .m_196_b{background-position:-10725px 0}.bybrand_list .m_197_b{background-position:-10780px 0}.bybrand_list .m_199_b{background-position:-10890px 0}.bybrand_list .m_200_b{background-position:-10945px 0}.bybrand_list .m_201_b{background-position:-11000px 0}.bybrand_list .m_202_b{background-position:-11055px 0}.bybrand_list .m_203_b{background-position:-11110px 0}.bybrand_list .m_204_b{background-position:-11165px 0}.bybrand_list .m_205_b{background-position:-11220px 0}.bybrand_list .m_207_b{background-position:-11330px 0}.bybrand_list .m_208_b{background-position:-11385px 0}.bybrand_list .m_209_b{background-position:-11440px 0}.bybrand_list .m_210_b{background-position:-11495px 0}.bybrand_list .m_211_b{background-position:-11550px 0}.bybrand_list .m_212_b{background-position:-11605px 0}.bybrand_list .m_213_b{background-position:-11660px 0}.bybrand_list .m_214_b{background-position:-11715px 0}.bybrand_list .m_215_b{background-position:-11770px 0}.bybrand_list .m_216_b{background-position:-11825px 0}.bybrand_list .m_218_b{background-position:-11935px 0}.bybrand_list .m_219_b{background-position:-11990px 0}.bybrand_list .m_220_b{background-position:-12045px 0}