.header-nav-wrapper .header-nav-content .nav-customerservice {
  float: right;
  width: 300px;
  height: 60px;
  padding-top: 40px;
  position: relative;
}
.header-nav-wrapper .header-nav-content .nav-customerservice i {
  display: block;
  position: absolute;
  top: 40px;
  left: 5px;
  width: 22px;
  height: 22px;
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat 0 0;
  background-size: 88px 30px;
  -webkit-background-size: 88px 30px;
  -moz-background-size: 88px 30px;
  -o-background-size: 88px 30px;
}
.header-nav-wrapper .header-nav-content .nav-customerservice span {
  display: inline-block;
  width: 91px;
  height: 20px;
  font-size: 18px;
  line-height: 18px;
  color: #666666;
  padding-left: 38px;
}
.header-nav-wrapper .header-nav-content .nav-customerservice em {
  font-size: 22px;
  line-height: 20px;
  color: #666666;
}
.helpcenter-protocol-wrap {
  width: 1182px;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid #dde1e8;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left {
  float: left;
  width: 207px;
  height: 100%;
  margin-bottom: -1px;
  border-right: 1px solid #dde1e8;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap {
  width: 100%;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-ltitle {
  width: 100%;
  height: 46px;
  line-height: 46px;
  background: #eceff5;
  font-size: 14px;
  color: #333333;
  text-indent: 31px;
  border-bottom: 1px solid #dde1e8;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond {
  width: 100%;
  position: relative;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap {
  width: 100%;
  height: 46px;
  position: relative;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap i {
  display: block;
  position: absolute;
  top: 20px;
  left: 32px;
  width: 6px;
  height: 11px;
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat -22px 0;
  background-size: 88px 30px;
  -webkit-background-size: 88px 30px;
  -moz-background-size: 88px 30px;
  -o-background-size: 88px 30px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap .helpcenter-protocol-ls-i {
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat -54px 0;
  top: 21px;
  left: 30px;
  width: 11px;
  height: 6px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap .helpcenter-protocol-lstop {
  display: block;
  width: 100%;
  text-indent: 48px;
  color: #333;
  font-size: 14px;
  line-height: 50px;
  font-weight: bold;
  font-family: 'Microsoft YaHei', '微软雅黑';
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap .helpcenter-protocol-lst-red {
  color: #fc5e09;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-ls-wrap .helpcenter-protocol-lstop:hover {
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-lslist {
  width: 100%;
  padding-bottom: 11px;
  display: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-lslist li {
  height: 36px;
  line-height: 40px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-lslist li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 47px;
  font-size: 14px;
  color: #666;
  font-family: "Microsoft YaHei", '微软雅黑';
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-lslist li a:hover {
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-left .helpcenter-protocol-lwrap .helpcenter-protocol-lsecond .helpcenter-protocol-lslist li.helpcenter-protocol-lsli-red a {
  color: #fc5e09;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right {
  width: 909px;
  float: left;
  margin-left: -1px;
  display: inline-block;
  height: 100%;
  padding: 0 32px;
  border-left: 1px solid #dde1e8;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rtitle {
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #dde1e8;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rtitle a {
  color: #000;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rtitle a:hover {
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent {
  padding: 11px 0 0 0px;
  width: 100%;
  line-height: 36px;
  font-size: 14px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent dl {
  padding: 0 22px !important;
  line-height: 24px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent dl dt {
  float: left;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent dl dd {
  margin-left: 22px;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap {
  width: 100%;
  margin-top: 70px;
  padding-bottom: 50px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left {
  width: 287px;
  margin-right: 30px;
  position: relative;
  float: left;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left i {
  display: block;
  position: absolute;
  top: 21px;
  left: 50px;
  width: 178px;
  height: 135px;
  background: url("../images/help-gift/helpcenter-corporate-icon.png") no-repeat 0 0;
  background-size: 178px 450px;
  -webkit-background-size: 178px 450px;
  -moz-background-size: 178px 450px;
  -o-background-size: 178px 450px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left .helpcenter-protocol-rc-title {
  padding-top: 181px;
  line-height: 34px;
  font-size: 16px;
  color: #000;
  text-align: center;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left .helpcenter-protocol-rc-text {
  width: 228px;
  padding-left: 28px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #666666;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left1 i {
  background: url("../images/help-gift/helpcenter-corporate-icon.png") no-repeat 0 -135px;
  top: 2px;
  left: 75px;
  width: 143px;
  height: 148px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left2 {
  width: 275px;
  margin-right: 0;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-rc-wrap .helpcenter-protocol-rc-left2 i {
  background: url("../images/help-gift/helpcenter-corporate-icon.png") no-repeat 0 -283px;
  top: 13px;
  left: 57px;
  width: 176px;
  height: 149px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap {
  padding-top: 32px;
  padding-bottom: 50px;
  padding-left: 24px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-text {
  line-height: 20px;
  font-size: 14px;
  color: #333333;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-title {
  line-height: 29px;
  font-size: 16px;
  color: #333;
  margin-top: 23px;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-text1 {
  line-height: 34px;
  font-size: 14px;
  color: #666;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-text1 span {
  color: #fc5e09;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-button {
  width: 116px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #f69006;
  display: block;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-button span {
  display: block;
  width: 116px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  background: #f69006;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-button span:hover {
  background: #f26e03;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-button:hover {
  text-decoration: none;
  background: #f26e03;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-customer-wrap .helpcenter-protocol-customer-image {
  margin-top: 9px;
  width: 156px;
  height: 156px;
  background: url("../images/purchase/helpcenter-erweima.png") no-repeat;
  background-size: 156px 156px;
  -webkit-background-size: 156px 156px;
  -moz-background-size: 156px 156px;
  -o-background-size: 156px 156px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-contact-wrap {
  padding-top: -5px;
  padding-bottom: 50px;
  padding-left: 24px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-contact-wrap .helpcenter-protocol-contact-title {
  margin-top: 27px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-contact-wrap .helpcenter-protocol-contact-text {
  color: #333;
  line-height: 32px;
  font-size: 14px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-contact-wrap .helpcenter-protocol-contact-text1 {
  color: #666;
  line-height: 28px;
  font-size: 14px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-contact-wrap .helpcenter-protocol-contact-text1 span {
  color: #fc5e09;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap {
  padding-top: 14px;
  padding-bottom: 50px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-title {
  line-height: 89px;
  font-size: 16px;
  font-weight: bold;
  text-indent: 22px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 {
  padding-left: 62px;
  height: 235px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image {
  float: left;
  width: 125px;
  position: relative;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image .helpcenter-protocol-business-img-1 {
  position: absolute;
  top: 31px;
  left: 19px;
  width: 87px;
  height: 109px;
  background: url("../images/help-gift/helpcenter-business-icon.png") no-repeat 0 0;
  background-size: 428px 121px;
  -webkit-background-size: 428px 121px;
  -moz-background-size: 428px 121px;
  -o-background-size: 428px 121px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image .helpcenter-protocol-business-img-2 {
  position: absolute;
  top: 30px;
  left: 19px;
  width: 89px;
  height: 104px;
  background: url("../images/help-gift/helpcenter-business-icon.png") no-repeat -87px 0;
  background-size: 428px 121px;
  -webkit-background-size: 428px 121px;
  -moz-background-size: 428px 121px;
  -o-background-size: 428px 121px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image .helpcenter-protocol-business-img-3 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 105px;
  height: 98px;
  background: url("../images/help-gift/helpcenter-business-icon.png") no-repeat -177px 0;
  background-size: 428px 121px;
  -webkit-background-size: 428px 121px;
  -moz-background-size: 428px 121px;
  -o-background-size: 428px 121px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image .helpcenter-protocol-business-img-4 {
  position: absolute;
  top: 23px;
  left: 8px;
  width: 103px;
  height: 114px;
  background: url("../images/help-gift/helpcenter-business-icon.png") no-repeat -283px 0;
  background-size: 428px 121px;
  -webkit-background-size: 428px 121px;
  -moz-background-size: 428px 121px;
  -o-background-size: 428px 121px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-image .helpcenter-protocol-business-img-text {
  padding-top: 159px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-right {
  width: 96px;
  height: 222px;
  float: left;
  position: relative;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part1 .helpcenter-protocol-business-right i {
  display: block;
  position: absolute;
  top: 70px;
  left: 47px;
  width: 15px;
  height: 30px;
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat -65px 0;
  background-size: 88px 30px;
  -webkit-background-size: 88px 30px;
  -moz-background-size: 88px 30px;
  -o-background-size: 88px 30px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part2 {
  padding-bottom: 19px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part2 .helpcenter-protocol-business-p2-text {
  line-height: 38px;
  font-size: 14px;
  color: #333;
  text-indent: 56px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part3 {
  padding-top: 4px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part3 .helpcenter-protocol-business-p3-text {
  height: 38px;
  line-height: 38px;
  padding-left: 90px;
  position: relative;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-business-wrap .helpcenter-protocol-business-part3 .helpcenter-protocol-business-p3-text i {
  display: block;
  position: absolute;
  top: 9px;
  left: 58px;
  width: 22px;
  height: 18px;
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat -32px 0;
  background-size: 88px 30px;
  -webkit-background-size: 88px 30px;
  -moz-background-size: 88px 30px;
  -o-background-size: 88px 30px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap {
  width: 100%;
  padding-bottom: 50px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .help-center {
  min-height: 0;
  margin-top: 0;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .help-center .help-center-content h2 {
  margin-bottom: 0;
  padding-left: 24px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .help-center .introduce {
  border-top: 0;
  border-top: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .help-center .introduce .one-side {
  border-bottom: 0;
  border-bottom: none;
  padding-top: 0;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-q {
  font-size: 14px;
  margin-top: 17px;
  line-height: 30px;
  color: #333;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-a {
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-a .helpcenter-protocol-ca-left {
  float: left;
  width: 25px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-a .helpcenter-protocol-ca-right {
  float: left;
  width: 880px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page {
  margin-top: 60px;
  text-align: right;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-prev {
  display: inline-block;
  border: 1px solid #ededed;
  width: 68px;
  height: 28px;
  background: #f5f5f4;
  color: #ababab;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-number {
  display: inline-block;
  border: 1px solid #ededed;
  width: 28px;
  height: 28px;
  background: #f5f5f4;
  color: #ababab;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  margin-left: 10px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-now {
  background: #f0ced0;
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-number:hover,
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-next:hover,
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-prev:hover {
  background: #e5e5e4;
  color: #acacac;
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-now:hover {
  background: #f0ced0;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-next {
  display: inline-block;
  border: 1px solid #ededed;
  width: 68px;
  height: 28px;
  background: #f5f5f4;
  color: #ababab;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  margin-left: 10px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-all {
  display: inline-block;
  height: 30px;
  color: #ababab;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  margin-left: 10px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-choose-wrap .helpcenter-protocol-choose-page .helpcenter-protocol-choose-all:hover {
  text-decoration: none;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap {
  padding-bottom: 50px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-top {
  width: 100%;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-top img {
  display: block;
  width: 798px;
  height: 617px;
  margin: 50px 0 0 52px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common {
  margin-top: 80px;
  border-top: 1px solid #dde1e8;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-ctitle {
  height: 74px;
  line-height: 74px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-list {
  margin-top: 3px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-list li {
  width: 436px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  float: left;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-list li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-list li a i {
  display: block;
  position: absolute;
  top: 15px;
  left: 11px;
  width: 4px;
  height: 7px;
  background: url("../images/help-gift/helpcenter-icon.png?v=1.2") no-repeat -28px 0;
  background-size: 88px 30px;
  -webkit-background-size: 88px 30px;
  -moz-background-size: 88px 30px;
  -o-background-size: 88px 30px;
}
.helpcenter-protocol-wrap .helpcenter-protocol-right .helpcenter-protocol-rcontent .helpcenter-protocol-lead-wrap .helpcenter-protocol-lead-common .helpcenter-protocol-lead-list li a span {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 22px;
  color: #333;
}
table {
  border: 1px solid #d1d5d9;
  width: 900px;
}
table thead th {
  border-right: 1px solid #d1d5d9;
  background: #edf2fa;
  height: 50px;
  line-height: 50px;
  width: 90px;
  *width: 200px;
}
table thead th.title {
  width: 140px;
}
table thead th.choose {
  width: 210px;
}
table thead th.detail {
  width: 400px;
}
table tbody tr {
  border-bottom: 1px solid #d1d5d9;
}
table tbody td {
  border-right: 1px solid #d1d5d9;
  *border-bottom: 1px solid #d1d5d9;
  text-align: center;
  padding: 18px 0;
  line-height: 24px;
}
table tbody td.orange {
  color: #ff6200;
}
table tbody td p {
  margin-left: 25px;
  text-align: left;
}
.footer-v2 {
  margin-top: 50px !important;
}
