/* @update:2016-8-31 10:19:19 */ 
.clear {
	clear:both;
	float:none
}
.car-container .car-center .c-content .car-list li .jh,.car-container .car-center .c-content .car-list li .lh,.car-container .car-center .c-content .car-list li .qm,.car-container .car-con .car-cc .xinpin .fir .fir-con,.car-container .car-con .car-cc .xinpin .fir .run-city .search .so-con,.car-container .car-con .car-cc .xinpin .fir p .li,.car-container .car-con .car-cc .xinpin .fir p .xiang,.car-container .car-con .car-cc .xinpin .sec .fir-con,.car-container .car-con .car-cc .xinpin .thir .fir-con,.car-container .car-foot .buy-cheng .liu-list .li-fir,.car-container .car-foot .buy-cheng .liu-list .li-four,.car-container .car-foot .buy-cheng .liu-list .li-sec,.car-container .car-foot .buy-cheng .liu-list .li-thir,.car-container .huoban .hezuo .h-name li .china,.car-container .huoban .hezuo .h-name li .renmin,.car-container .huoban .hezuo .h-name li .sun,.car-container .huoban .hezuo .h-name li .zhon-hua,.lixuan .e-ka .ka .rao,.s-sprite {
	background-image:url(../images/s-s67a4127bc4.png);
	background-repeat:no-repeat
}
.hide {
	display:none
}
.car-banner {
	width:100%;
	position:relative
}
.car-banner a {
	display:block;
	width:100%;
	height:420px
}
.car-container {
	width:100%;
	position:relative
}
.car-container .car-center {
	width:100%;
	height:490px;
	background:url(i/car-center_02.png) center center no-repeat
}
.car-container .car-center .c-content {
	width:1200px;
	margin:-1px auto;
	height:430px;
	padding-top:60px
}
.car-container .car-center .c-content span {
	display:block;
	width:120px;
	height:30px;
	margin:auto;
	color:#393f4e;
	font-size:30px
}
.car-container .car-center .c-content .car-list {
	width:956px;
	height:290px;
	margin:65px auto
}
.car-container .car-center .c-content .car-list li {
	text-align:center;
	width:200px;
	height:290px;
	float:left
}
.car-container .car-center .c-content .car-list li a {
	display:block;
	width:200px;
	height:200px
}
.car-container .car-center .c-content .car-list li .lh {
	background-position:0 -3142px
}
.car-container .car-center .c-content .car-list li .qm {
	background-position:0 -3382px
}
.car-container .car-center .c-content .car-list li .jh {
	background-position:0 -3622px
}
.car-container .car-center .c-content .car-list li .car-t {
	width:100%;
	display:block;
	color:#323232;
	font-size:20px;
	margin-top:25px
}
.car-container .car-center .c-content .car-list li .car-tt {
	width:100%;
	color:#a5a5a5;
	font-size:14px
}
.car-container .car-center .c-content .car-list .lis {
	margin-left:170px
}
.car-container .car-con {
	width:100%;
	height:762px;
	background:url(i/car-con_02.png) no-repeat
}
.car-container .car-con .car-cc {
	width:1200px;
	height:702px;
	margin:auto;
	padding-top:60px
}
.car-container .car-con .car-cc span {
	display:block;
	width:120px;
	height:30px;
	margin:auto;
	color:#393f4e;
	font-size:30px
}
.car-container .car-con .car-cc .xinpin {
	width:1072px;
	height:542px;
	margin:60px auto
}
.car-container .car-con .car-cc .xinpin .fir {
	float:left;
	position:relative;
	border-top:4px solid #70b7f7;
	width:320px;
	height:540px;
	background:#fff;
	box-shadow:2px 4px 3px #e6f3ff
}
.car-container .car-con .car-cc .xinpin .fir .ne-sh {
	position:absolute;
	right:40px;
	top:45px;
	font-size:12px;
	color:#5b9fe2
}
.car-container .car-con .car-cc .xinpin .fir .ne-sh:hover {
	color:#f52f3e
}
.car-container .car-con .car-cc .xinpin .fir .fir-top {
	display:block;
	width:240px;
	height:238px;
	margin:35px auto;
	border-bottom:1px solid #e6e6e6
}
.car-container .car-con .car-cc .xinpin .fir .fir-con {
	background-position:0 0
}
.car-container .car-con .car-cc .xinpin .fir p {
	width:250px;
	height:30px;
	margin:10px auto;
	color:#5e5e5e;
	font-size:18px;
	line-height:18px
}
.car-container .car-con .car-cc .xinpin .fir p .li {
	float:left;
	display:block;
	width:29px;
	height:29px;
	background-position:0 -717px
}
.car-container .car-con .car-cc .xinpin .fir p .xiang {
	float:left;
	display:block;
	width:29px;
	height:29px;
	background-position:0 -786px
}
.car-container .car-con .car-cc .xinpin .fir p .text {
	display:block;
	float:left;
	color:#5e5e5e;
	font-size:18px;
	width:220px;
	line-height:28px
}
.car-container .car-con .car-cc .xinpin .fir .run-city {
	width:240px;
	height:15px;
	margin:auto;
	padding-top:5px;
	line-height:30px;
	position:relative
}
.car-container .car-con .car-cc .xinpin .fir .run-city span {
	display:block;
	width:56px;
	float:left;
	color:#838a96;
	font-size:14px
}
.car-container .car-con .car-cc .xinpin .fir .run-city .search {
	position:relative;
	float:left;
	width:150px;
	height:30px;
	border:1px solid #e2e6ef;
	margin-left:17px
}
.car-container .car-con .car-cc .xinpin .fir .run-city .search .ser {
	float:left;
	width:130px;
	height:15px;
	padding-top:9px;
	font-size:12px;
	outline:0;
	margin-top:0;
	margin-left:1px;
	*margin-left:-10px
}
.car-container .car-con .car-cc .xinpin .fir .run-city .search .so-con {
	display:block;
	float:left;
	width:12px;
	height:18px;
	margin-top:6px;
	background-position:0 -1599px;
	cursor:pointer
}
.car-container .car-con .car-cc .xinpin .fir .city-erro {
	margin-top:2px;
	*margin-top:18px;
	display:inline-block;
	font-size:12px;
	color:#ff5652;
	width:208px;
	height:20px;
	padding-left:112px
}
.car-container .car-con .car-cc .xinpin .fir .now-report {
	display:block;
	width:96px;
	height:32px;
	background:#ff6165;
	text-align:center;
	line-height:32px;
	font-size:14px;
	color:#fff;
	border-radius:3px;
	margin:2px auto
}
.car-container .car-con .car-cc .xinpin .fir .now-report:hover {
	background:#ff4644
}
.car-container .car-con .car-cc .xinpin .sec {
	margin-left:55px
}
.car-container .car-con .car-cc .xinpin .sec .fir-con {
	background-position:0 -1657px
}
.car-container .car-con .car-cc .xinpin .thir {
	margin-left:55px
}
.car-container .car-con .car-cc .xinpin .thir .fir-con {
	background-position:0 -2863px
}
.car-container .car-foot {
	width:100%;
	height:350px;
	background:#fff
}
.car-container .car-foot .buy-cheng {
	width:1200px;
	height:280px;
	margin:auto;
	padding-top:70px
}
.car-container .car-foot .buy-cheng .liucheng {
	display:block;
	font-size:30px;
	color:#393f4e;
	width:122px;
	height:30px;
	margin:auto
}
.car-container .car-foot .buy-cheng .liu-list {
	width:710px;
	height:130px;
	margin:60px auto
}
.car-container .car-foot .buy-cheng .liu-list li {
	width:237px;
	height:130px;
	float:left
}
.car-container .car-foot .buy-cheng .liu-list .li-fir {
	margin-left:6px;
	background-position:0 -855px
}
.car-container .car-foot .buy-cheng .liu-list .li-sec {
	margin-left:10px;
	background-position:0 -1015px
}
.car-container .car-foot .buy-cheng .liu-list .li-thir {
	width:165px;
	margin-left:14px;
	background-position:0 -1175px
}
.car-container .car-foot .buy-cheng .liu-list .li-four {
	margin-left:10px;
	background-position:0 -1335px
}
.car-container .huoban {
	width:100%;
	height:193px;
	background:#f0f8ff;
	padding-top:70px
}
.car-container .huoban .hezuo {
	width:1200px;
	height:280px;
	margin:auto
}
.car-container .huoban .hezuo .hzhb {
	display:block;
	font-size:30px;
	color:#393f4e;
	width:122px;
	height:30px;
	margin:auto
}
.car-container .huoban .hezuo .h-name {
	width:770px;
	height:56px;
	margin:60px auto
}
.car-container .huoban .hezuo .h-name li {
	width:170px;
	height:55px;
	float:left
}
.car-container .huoban .hezuo .h-name li a {
	display:block;
	width:170px;
	height:55px
}
.car-container .huoban .hezuo .h-name li .renmin {
	background-position:0 -341px
}
.car-container .huoban .hezuo .h-name li .sun {
	background-position:0 -436px
}
.car-container .huoban .hezuo .h-name li .china {
	margin-left:60px;
	background-position:0 -531px
}
.car-container .huoban .hezuo .h-name li .zhon-hua {
	margin-left:80px;
	background-position:0 -2768px
}
.city {
	width:510px;
	background:#fff;
	position:absolute;
	left:0;
	margin-top:31px;
	*margin-left:-4px
}
.city .c-tou {
	width:100%;
	height:45px;
	background:#faf9f9;
	border-top:1px solid #e5e7ed;
	border-right:1px solid #e5e7ed;
	border-left:1px solid #e5e7ed
}
.city .c-tou .c-fir {
	float:left;
	width:110px;
	height:44px;
	font-size:14px;
	color:#5e5e5e;
	line-height:45px;
	text-align:center;
	cursor:pointer;
	border-bottom:1px solid #e5e7ed
}
.city .c-tou .c-sec {
	float:left;
	width:122px;
	height:44px;
	text-align:center;
	line-height:45px;
	color:#5e5e5e;
	font-size:14px;
	cursor:pointer;
	border-bottom:1px solid #e5e7ed
}
.city .c-tou .c-thir {
	float:left;
	width:120px;
	height:44px;
	text-align:center;
	line-height:45px;
	color:#5e5e5e;
	font-size:14px;
	cursor:pointer;
	border-bottom:1px solid #e5e7ed
}
.city .c-tou .c-four {
	float:left;
	width:156px;
	height:44px;
	text-align:center;
	line-height:45px;
	color:#5e5e5e;
	font-size:14px;
	cursor:pointer;
	border-bottom:1px solid #e5e7ed
}
.city .c-tou .on {
	color:#70b7f7;
	background:#fff;
	border-bottom:none;
	border-right:1px solid #e5e7ed;
	border-left:1px solid #e5e7ed
}
.city .c-tou .c-five {
	float:left;
	width:39px;
	height:44px;
	cursor:pointer;
	border-bottom:1px solid #e5e7ed;
	margin-top:0
}
.city .detal {
	position:absolute;
	width:100%;
	left:0;
	border-right:1px solid #e5e7ed;
	border-left:1px solid #e5e7ed;
	border-bottom:1px solid #e5e7ed
}
.city .detal .didian {
	width:100%;
	margin-top:15px
}
.city .detal .didian .di-fir {
	padding:2px 10px;
	float:left;
	height:25px;
	text-align:center;
	line-height:25px;
	font-size:14px;
	color:#5e5e5e;
	margin-left:45px;
	cursor:pointer
}
.city .detal .didian .di-fir:hover {
	background:#70b7f7;
	color:#fff
}
.city .detal .didian .number {
	float:left;
	width:60px;
	text-align:center;
	color:#70b7f7
}
.city .detal .didian .list {
	float:right;
	width:450px
}
.city .detal .didian .list li {
	float:left;
	height:29px;
	line-height:18px;
	width:80px;
	padding-right:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.city .detal .didian .list li a {
	padding:2px 10px;
	font-size:14px;
	color:#5e5e5e
}
.city .detal .didian .list li a:hover {
	background:#70b7f7;
	color:#fff
}
.city .detal .didian .lists {
	width:100%
}
.city .detal .didian .lists li {
	margin-left:10px;
	float:left;
	height:29px;
	line-height:29px;
	width:70px;
	padding:0 5px 8px 0;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.city .detal .didian .lists li a {
	padding:2px 10px;
	font-size:14px;
	color:#5e5e5e
}
.city .detal .didian .lists li a:hover {
	background:#70b7f7;
	color:#fff
}
.car-xiang {
	width:100%;
	background:#f5f5f5;
	padding-top:30px
}
.car-xiang .xiang-content {
	width:1200px;
	background:#fff;
	margin:auto;
	border-top:2px solid #474e5d;
	padding-top:15px;
	position:relative
}
.car-xiang .xiang-content .bao-x {
	position:absolute;
	top:0;
	width:1165px;
	display:block;
	background:#fbfbfb;
	font-size:16px;
	font-weight:700;
	color:#474e5d;
	height:50px;
	line-height:50px;
	padding-left:35px
}
.car-xiang .xiang-content .box-img {
	padding-top:30px;
	width:1140px;
	height:377px;
	margin:40px auto
}
.car-xiang .xiang-content .xian-name {
	width:1065px;
	background:#fff9f9;
	margin:70px auto;
	padding-top:25px
}
.car-xiang .xiang-content .xian-name .ming {
	width:1014px;
	margin-left:48px;
	padding-bottom:20px
}
.car-xiang .xiang-content .xian-name .ming .m-left {
	width:100%;
	line-height:36px;
	clear:both
}
.car-xiang .xiang-content .xian-name .ming .m-left .x-ming {
	float:left;
	width:370px;
	font-size:12px;
	color:#5e5e5e
}
.car-xiang .xiang-content .xian-name .ming .m-left .x-ming span {
	font-family:Arail;
	padding-left:25px;
	font-weight:700
}
.car-xiang .xiang-content .xian-name .ming .m-left .x-num {
	width:630px;
	float:left;
	font-size:12px;
	color:#5e5e5e
}
.car-xiang .xiang-content .xian-name .ming .m-left .x-num span {
	padding-left:25px;
	font-weight:700;
	font-family:Arail
}
.car-xiang .xiang-content .beibao {
	width:1065px;
	height:19px;
	background:url(i/dian_03.png) repeat-x;
	margin:auto;
	line-height:19px;
	position:relative
}
.car-xiang .xiang-content .beibao span {
	position:absolute;
	left:0;
	top:-7px;
	width:110px;
	background:#fff;
	font-size:16px;
	font-weight:700;
	color:#5e5e5e
}
.car-xiang .xiang-content .baodan-num {
	width:1000px;
	margin:40px auto
}
.car-xiang .xiang-content .baodan-num p {
	font-size:12px;
	color:#5e5e5e
}
.car-xiang .xiang-content .baodan-num p span {
	font-family:Arail;
	font-weight:700;
	margin-left:25px;
	margin-right:25px
}
.car-xiang .xiang-content .baodan-num .xian-zhong {
	width:100%;
	margin-top:8px;
	border:1px solid #e6e6e6;
	border-bottom:none
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-one {
	width:100%;
	height:40px;
	background:#fff8ef;
	border-bottom:1px solid #e6e6e6
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-one .jiao {
	float:left;
	text-align:center;
	width:499px;
	border-right:1px solid #e6e6e6;
	height:40px;
	line-height:40px;
	font-weight:700;
	font-size:12px;
	color:#5e5e5e;
	font-family:Arail
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-one .chengbao {
	float:left;
	text-align:center;
	width:499px;
	height:40px;
	line-height:40px;
	font-weight:700;
	font-size:12px;
	color:#5e5e5e;
	font-family:Arail
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-two {
	width:100%;
	height:39px;
	border-bottom:1px solid #e6e6e6
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-two .jiao {
	float:left;
	text-align:center;
	width:499px;
	border-right:1px solid #e6e6e6;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-two .chengbao {
	float:left;
	text-align:center;
	width:499px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	font-family:Arail
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-two .chengbao span {
	text-align:right;
	display:block;
	width:284px
}
.car-xiang .xiang-content .baodan-num .xian-zhong .xian-two .chengbao .bigNum {
	color:#ff5652;
	font-size:14px;
	font-weight:700
}
.car-xiang .xiang-content .car-dan {
	width:1000px;
	margin:40px auto
}
.car-xiang .xiang-content .car-dan p {
	font-size:12px;
	color:#5e5e5e
}
.car-xiang .xiang-content .car-dan p span {
	font-family:Arail;
	font-weight:700;
	margin-left:25px;
	margin-right:25px
}
.car-xiang .xiang-content .car-dan .shangye {
	width:100%;
	margin-top:8px
}
.car-xiang .xiang-content .car-dan .shangye .shang-one {
	width:100%;
	height:40px;
	border-bottom:1px solid #e6e6e6;
	background:#fff8ef
}
.car-xiang .xiang-content .car-dan .shangye .shang-one .shang-cheng {
	font-family:Arail;
	float:left;
	width:336px;
	height:40px;
	line-height:40px;
	font-weight:700;
	font-size:12px;
	color:#5e5e5e;
	text-align:center;
	border-right:1px solid #e6e6e6
}
.car-xiang .xiang-content .car-dan .shangye .shang-one .ze-cheng {
	float:left;
	width:332px;
	height:40px;
	line-height:40px;
	font-weight:700;
	font-size:12px;
	color:#5e5e5e;
	text-align:center;
	border-right:1px solid #e6e6e6;
	font-family:Arail
}
.car-xiang .xiang-content .car-dan .shangye .shang-one .xiane {
	float:left;
	width:330px;
	height:40px;
	line-height:40px;
	font-weight:700;
	font-size:12px;
	color:#5e5e5e;
	text-align:center;
	font-family:Arail
}
.car-xiang .xiang-content .car-dan .shangye .shang-two {
	width:100%;
	height:40px;
	border-bottom:1px solid #e6e6e6
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .shang-cheng {
	font-family:Arail;
	float:left;
	width:336px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	border-right:1px solid #e6e6e6;
	text-align:center
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .ze-cheng {
	font-family:Arail;
	float:left;
	width:332px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	border-right:1px solid #e6e6e6
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .ze-cheng span {
	display:block;
	text-align:right;
	width:222px
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .ze-ren {
	float:left;
	width:664px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	text-align:center
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .ze-rens {
	float:left;
	width:663px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	text-align:center
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .xiane {
	float:left;
	width:330px;
	height:40px;
	line-height:40px;
	font-size:12px;
	color:#5e5e5e;
	font-family:Arail
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .xiane span {
	display:block;
	width:200px;
	text-align:right
}
.car-xiang .xiang-content .car-dan .shangye .shang-two .xiane .bigNum {
	color:#ff5652;
	font-size:14px;
	font-weight:700
}
.car-xiang .xiang-content .car-dan .shangye .poslist {
	width:100%;
	border-collapse:collapse;
	border-spacing:0
}
.car-xiang .xiang-content .car-dan .shangye .poslist td,.car-xiang .xiang-content .car-dan .shangye .poslist th {
	font-family:Arail;
	padding:12px 18px;
	border:1px solid #e6e6e6;
	font-size:12px
}
.car-xiang .xiang-content .car-dan .shangye .poslist td .item-tr,.car-xiang .xiang-content .car-dan .shangye .poslist th .item-tr {
	display:block;
	width:206px;
	text-align:right
}
.car-xiang .xiang-content .car-dan .shangye .poslist td .item-td,.car-xiang .xiang-content .car-dan .shangye .poslist th .item-td {
	display:block;
	width:196px;
	text-align:right
}
.car-xiang .xiang-content .car-dan .shangye .poslist .heji {
	font-size:12px;
	font-weight:700;
	color:#5e5e5e
}
.car-xiang .xiang-content .car-dan .shangye .poslist .text-red {
	font-size:14px;
	color:#ff5652;
	font-weight:700
}
.car-xiang .xiang-content .car-dan .shangye .poslist th {
	background:#fff8ef
}
.car-xiang .xiang-content .returns {
	display:block;
	width:126px;
	height:32px;
	border-radius:3px;
	line-height:32px;
	text-align:center;
	font-size:14px;
	color:#fff;
	margin:auto;
	background:#ff6164
}
.car-xiang .xiang-content .returns:hover {
	background:#ff4644
}
.car-xiang .xiang-content .fet {
	margin-top:40px;
	width:100%;
	height:30px;
	background:#f5f5f5
}
.car-xiang .xiang-content .fets {
	margin-top:40px;
	width:100%;
	height:100px;
	background:#f5f5f5
}
.libao {
	width:840px;
	height:140px;
	margin:45px auto
}
.libao span {
	font-size:18px;
	color:#323232
}
.libao .e-ka {
	width:100%;
	height:105px;
	border-top:1px solid #ffecdb;
	border-right:1px solid #ffecdb;
	margin-top:10px
}
.libao .e-ka .ka {
	display:block;
	float:left;
	width:240px;
	height:105px;
	border-left:3px solid #ffa352;
	border-bottom:1px solid #ffecdb;
	background:#ffecdb
}
.libao .e-ka .ka .jia {
	display:block;
	width:130px;
	font-weight:700;
	height:30px;
	color:#ffa352;
	font-size:30px;
	margin:20px auto
}
.libao .e-ka .ka .ee {
	display:block;
	width:72px;
	height:20px;
	color:#ffa352;
	font-size:20px;
	margin:-10px auto
}
.libao .e-ka .ka-right {
	float:left;
	width:597px;
	height:105px;
	border-bottom:1px solid #ffecdb
}
.libao .e-ka .ka-right .r-m {
	display:block;
	font-size:14px;
	color:#5e5e5e;
	margin-top:30px;
	margin-left:30px
}
.libao .e-ka .ka-right .jd-m {
	display:block;
	font-size:14px;
	color:#a5a5a5;
	margin-left:30px;
	margin-top:10px
}
.lixuan {
	width:840px;
	margin:45px auto
}
.lixuan span {
	font-size:18px;
	color:#323232
}
.lixuan .e-ka {
	width:100%;
	height:105px;
	border-top:1px solid #eaf5ff;
	border-right:1px solid #eaf5ff;
	margin-top:10px
}
.lixuan .e-ka .ka.active .rao {
	display:inline-block;
	width:12px;
	height:12px;
	left:20px;
	top:50%;
	margin-top:-6px;
	position:absolute;
	background-position:0 -1216px
}
.lixuan .e-ka .ka.active .shu {
	display:block
}
.lixuan .e-ka .ka {
	cursor:pointer;
	float:left;
	width:240px;
	height:105px;
	background:#eaf5ff;
	position:relative
}
.lixuan .e-ka .ka .shu {
	position:absolute;
	left:0;
	top:0;
	width:3px;
	height:100%;
	background:#70b7f7;
	display:none
}
.lixuan .e-ka .ka .rao {
	display:inline-block;
	width:12px;
	height:12px;
	left:20px;
	top:50%;
	margin-top:-6px;
	position:absolute;
	background-position:0 -1547px
}
.lixuan .e-ka .ka .jia {
	display:inline-block;
	width:165px;
	height:30px;
	color:#70b7f7;
	font-size:30px;
	margin-top:20px;
	margin-left:45px;
	font-weight:700
}
.lixuan .e-ka .ka .ee {
	display:inline-block;
	width:150px;
	height:20px;
	color:#70b7f7;
	font-size:16px;
	margin-left:72px;
	margin-top:10px
}
.lixuan .e-ka .ka .ees {
	display:inline-block;
	width:150px;
	height:20px;
	color:#70b7f7;
	font-size:16px;
	margin-left:50px;
	margin-top:10px
}
.lixuan .e-ka .ka-right {
	float:left;
	width:597px;
	height:104px;
	border-bottom:1px solid #eaf5ff
}
.lixuan .e-ka .ka-right .r-m {
	display:block;
	font-size:14px;
	color:#5e5e5e;
	margin-top:20px;
	margin-left:30px;
	margin-bottom:10px
}
.lixuan .e-ka .ka-right .jd-m {
	display:block;
	font-size:14px;
	color:#a5a5a5;
	margin-left:30px
}
.bai-pay {
	display:block;
	width:200px;
	height:46px;
	background:#ff6164;
	line-height:46px;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin:auto;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}
.bai-pay:hover {
	background:#ff4644
}
.hao-l {
	font-size:14px;
	color:#70b7f7
}
.hao-l:hover {
	color:#ff5652
}
.pantan {
	width:870px;
	height:665px;
	padding:30px 40px;
	z-index:1001;
	left:50%;
	background:#fff;
	position:absolute;
	box-shadow:0 2px 4px rgba(204,204,204,.5) inset
}
.pantan .pan-close {
	height:20px;
	width:870px
}
.pantan .pan-close .closes {
	cursor:pointer;
	width:20px;
	height:20px;
	background:url(i/pan-clocse.png) no-repeat;
	float:right;
	position:relative;
	left:6px
}
.pantan .pan-rule {
	text-align:center;
	color:#5e5e5e;
	font-size:30px;
	font-weight:700
}
.pantan .pan-over {
	margin-top:35px;
	width:870px;
	height:555px;
	overflow-y:auto
}
.pantan .pan-over .p-title {
	padding-left:10px;
	width:838px;
	height:22px;
	line-height:22px;
	border-left:5px solid #70b7f7;
	font-size:24px;
	color:#5e5e5e
}
.pantan .pan-over .ad-gaima {
	margin-top:45px
}
.pantan .pan-over .p-list {
	margin-top:25px
}
.pantan .pan-over .p-list li {
	font-size:14px;
	color:#5e5e5e;
	margin-bottom:15px
}
.p-j-list {
	width:853px;
	margin-top:30px
}
.p-j-list li {
	margin-bottom:5px
}
.p-j-list li .one-on {
	float:left;
	font-size:14px;
	color:#5e5e5e;
	line-height:30px
}
.p-j-list li .two-on {
	float:left;
	width:650px
}
.p-j-list li .two-on p {
	line-height:30px;
	color:#5e5e5e;
	font-size:14px
}
