/* 易鑫车贷方案弹层 */
.detail-order-tanh-wrap {
  padding: 0 !important;
  padding-top: 38px !important;
  max-height: 442px;
  *height: 442px;
  overflow-y: auto;
  position: relative;
}
.detail-order-tanh-wrap .detail-order-top {
  width: 654px;
  margin: 0 auto;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap {
  width: 100%;
  height: 23px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap .detail-order-top-wleft {
  float: left;
  width: 71px;
  height: 23px;
  line-height: 28px;
  font-size: 14px;
  color: #999999;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap .detail-order-top-wright {
  float: left;
  width: 580px;
  height: 23px;
  line-height: 23px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap .detail-order-top-wright .detail-order-top-wrprice {
  float: left;
  font-size: 20px;
  color: #e94b18;
  display: inline-block;
  font-weight: bold;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap .detail-order-top-wright .detail-order-top-wrballoon {
  float: left;
  margin-top: 4px;
  margin-left: 10px;
  width: 17px;
  height: 16px;
  background: url("../images/purchase/detail-borrow-icon.png") no-repeat 0px -122px;
  background-size: 53px 150px;
  -webkit-background-size: 53px 150px;
  -moz-background-size: 53px 150px;
  -o-background-size: 53px 150px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap .detail-order-top-wright .detail-order-top-wrdes {
  float: left;
  width: 310px;
  line-height: 32px;
  font-size: 12px;
  margin-left: 4px;
  color: #030000;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 {
  line-height: 30px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wleft {
  float: left;
  width: 71px;
  height: 23px;
  line-height: 30px;
  font-size: 14px;
  color: #999999;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wright {
  float: left;
  width: 580px;
  line-height: 30px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wright .detail-order-top-wrfirst {
  height: 26px;
  display: inline-block;
  line-height: 26px;
  font-size: 12px;
  color: #333;
  text-align: center;
  padding: 0 18px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 6px;
  width: 28px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wright .detail-order-top-wrfirst:hover {
  border: 2px solid #f18a27;
  margin-top: -1px;
  text-decoration: none;
  margin-left: -2px;
  margin-bottom: 5px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wright .detail-order-top-wrfyellow {
  color: #e94b18;
  font-weight: bold;
  border: 2px solid #f18a27;
  margin-top: -1px;
  margin-bottom: 5px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap1 .detail-order-top-wright .detail-order-top-wrfyellow:hover {
  margin-left: 0;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 {
  height: 28px;
  line-height: 28px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wleft {
  float: left;
  width: 71px;
  height: 23px;
  line-height: 28px;
  font-size: 14px;
  color: #999999;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wright {
  float: left;
  width: 580px;
  height: 28px;
  line-height: 28px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wright .detail-order-top-wrfirst {
  height: 26px;
  display: inline-block;
  line-height: 26px;
  font-size: 12px;
  color: #333;
  text-align: center;
  padding: 0 12px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  width: 34px;
  cursor: pointer;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wright .detail-order-top-wrfyellow {
  color: #e94b18;
  font-weight: bold;
  border: 2px solid #f18a27;
  margin-top: -1px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wright .detail-order-top-wrfirst:hover {
  border: 2px solid #f18a27;
  margin-top: -1px;
  text-decoration: none;
  margin-left: -2px;
}
.detail-order-tanh-wrap .detail-order-top .detail-order-top-wrap2 .detail-order-top-wright .detail-order-top-wrfyellow:hover {
  margin-left: 0;
}
.detail-order-tanh-wrap .detail-order-content {
  margin-top: 40px;
  background: #fbfbfb;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap {
  width: 654px;
  margin: 0 auto;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwtitle {
  height: 54px;
  line-height: 54px;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #f1f0f0;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwtitle span {
  color: #f18a27;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend {
  height: 99px;
  border-bottom: 1px dotted #dddddd;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-logo {
  float: left;
  margin-top: 28px;
  width: 46px;
  height: 42px;
  background: url("../images/purchase/detail-borrow-icon.png") no-repeat 0px -50px;
  background-size: 53px 150px;
  -webkit-background-size: 53px 150px;
  -moz-background-size: 53px 150px;
  -o-background-size: 53px 150px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title {
  margin-left: 13px;
  width: 200px;
  float: left;
  padding-top: 20px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-top {
  width: 100%;
  height: 31px;
  line-height: 31px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom {
  width: 214px;
  margin-left: -6px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom .detail-order-cwltb-tips {
  float: left;
  margin: 0 0 3px 6px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #16a761;
  padding: 0 7px;
  border: 1px solid #16a761;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom .detail-order-cwltb-tips1 {
  float: left;
  margin: 0 0 3px 7px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #16459b;
  padding: 0 7px;
  border: 1px solid #16459b;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom .detail-order-cwltb-tips2 {
  float: left;
  margin: 0 0 3px 6px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #2c6eb7;
  padding: 0 7px;
  border: 1px solid #2c6eb7;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom .detail-order-cwltb-tips3 {
  float: left;
  margin: 0 0 3px 6px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #eb611b;
  padding: 0 7px;
  border: 1px solid #eb611b;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-title .detail-order-cwlt-bottom .detail-order-cwltb-tips4 {
  float: left;
  margin: 0 0 3px 6px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;
  color: #dc474b;
  padding: 0 7px;
  border: 1px solid #dc474b;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first {
  padding-left: 7px;
  width: 76px;
  float: left;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-top {
  margin-top: 18px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  color: #999;
  position: relative;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-top a {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 32px;
  width: 16px;
  height: 16px;
  background: url("../images/purchase/completeprice.png") no-repeat 0 -28px;
  background-size: 100px 230px;
  -webkit-background-size: 100px 230px;
  -moz-background-size: 100px 230px;
  -o-background-size: 100px 230px;
  cursor: pointer;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-top a .detail-order-cwlf-top-h {
  position: absolute;
  display: none;
  bottom: 26px;
  left: -70px;
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  color: #333;
  padding: 0 10px;
  background: #fff;
  border: 1px solid #ccc;
  white-space: nowrap;
  text-align: left;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-top a .detail-order-cwlf-top-h i {
  display: block;
  position: absolute;
  bottom: -10px;
  left: 68px;
  width: 18px;
  height: 10px;
  background: url("../images/purchase/detail-borrow-icon.png") no-repeat -16px -122px;
  background-size: 53px 150px;
  -webkit-background-size: 53px 150px;
  -moz-background-size: 53px 150px;
  -o-background-size: 53px 150px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-top a:hover .detail-order-cwlf-top-h {
  display: block;
  text-decoration: none;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwlf-bottom {
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #333;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .ffbold {
  font-weight: bold;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-line {
  float: left;
  width: 1px;
  height: 38px;
  margin-top: 30px;
  background: #ddd;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first1 {
  padding-left: 21px;
  width: 76px;
  float: left;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first2 {
  padding-left: 28px;
  width: 72px;
  float: left;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first3 {
  padding-left: 25px;
  width: 87px;
  float: left;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first3 .detail-order-cwlf-top a {
  left: 47px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first3 .detail-order-cwlf-top a .detail-order-cwlf-top-h {
  left: -128px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend .detail-order-cwl-first3 .detail-order-cwlf-top a .detail-order-cwlf-top-h i {
  left: 126px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cwrap .detail-order-cwlend:last-child {
  border-bottom: none;
  border-bottom: 0;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cno {
  height: 154px;
  position: relative;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cno i {
  display: block;
  position: absolute;
  width: 76px;
  height: 76px;
  top: 37px;
  left: 196px;
  background: url("../images/purchase/detail-noitem-icon.png") no-repeat 0 0;
  background-size: 145px 76px;
  -webkit-background-size: 145px 76px;
  -moz-background-size: 145px 76px;
  -o-background-size: 145px 76px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cno .detail-order-cno-text {
  width: 330px;
  height: 70px;
  position: absolute;
  top: 44px;
  left: 286px;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cno .detail-order-cno-text .detail-order-cno-text1 {
  line-height: 30px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
.detail-order-tanh-wrap .detail-order-content .detail-order-cno .detail-order-cno-text .detail-order-cno-text2 {
  line-height: 45px;
  font-size: 14px;
  color: #666;
}
.detail-order-tanh-wrap .detail-order-bottom {
  width: 654px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;
}
.detail-order-tanh-wrap .detail-order-bottom .detail-order-btext {
  font-size: 12px;
  color: #000;
}
.detail-order-tanh-wrap .mt40 {
  margin-top: 40px;
}
