/*����ͷ��β�� ������ʽ�ļ�*/
/* ͷ��β */
.clearfix {
  clear: both;
}
.clearfix:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.clearfix:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.jiezi {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header {
  height: 44px;
  background: #2b2533;
  position: relative;
  width: 100%;
  z-index: 9999;
}
.header.fx-h1 {
  position: fixed;
  top: 0px;
}
.header.wb2 {
  height: auto;
}
.header.wb2.c1 {
  background: none;
}
.header.wb2.c1 .layer-1 {
  background-color: #1848a8;
}
.header.wb2 .b2-2 {
  height: 44px;
  background: rgba(0, 0, 0, 0.6);
  line-height: 44px;
  padding: 0 16px;
  clear: both;
}
.header.wb2 .b2-2:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.header.wb2 .b2-2:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header.wb2 .b2-2 .a1 {
  float: left;
}
.header.wb2 .b2-2 .a2 {
  float: right;
}
.header.wb2 .b2 {
  width: 100%;
  height: 44px;
  background-color: #f8fbff;
  border-bottom: 1px solid #c5d0e5;
}
.header.wb2 .b2 .u1 {
  clear: both;
}
.header.wb2 .b2 .u1:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.header.wb2 .b2 .u1:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.header.wb2 .b2 .u1 li {
  float: left;
  width: 25%;
  padding-top: 10px;
  position: relative;
}
.header.wb2 .b2 .u1 li.active a {
  color: #ff6200;
}
.header.wb2 .b2 .u1 li.active a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: 102;
  width: 100%;
  height: 2px;
  background-color: #ff6200;
}
.header.wb2 .b2 .u1 li:not(:last-child) a {
  border-right: 1px solid #c5d0e5;
}
.header.wb2 .b2 .u1 li a {
  display: block;
  line-height: 24px;
  text-align: center;
  font-size: 1.4rem;
  color: #000000;
}
.header .sx-link {
  position: absolute;
  padding: 5px 8px;
  top: 9px;
  right: 46px;
}
.header .sx-link:after {
  content: "";
  position: absolute;
  right: 0px;
  width: 1px;
  height: 20px;
  background-color: #fff;
}
.header a {
  color: #fff;
  font-size: 1.6rem;
}
.header a.turnback,
.header a.choose-city,
.header a.header-cancel {
  position: absolute;
}
.header h1 {
  line-height: 44px;
  text-align: center;
  font-size: 1.8rem;
  color: #ffffff;
  width: 45%;
  margin: 0 13% 0 27%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*icons */
.icons {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../moble_img/icon.png?20160506");
  background-repeat: no-repeat;
  -webkit-background-size: 100px 500px;
  background-size: 100px 500px;
}
.i-back {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../moble_img/icon.png?20160506");
  background-repeat: no-repeat;
  -webkit-background-size: 100px 500px;
  background-size: 100px 500px;
  width: 11px;
  height: 21px;
}
.turnback {
  width: 96px;
  height: 44px;
  line-height: 44px;
  display: inline-block;
  color: #ffffff !important;
  text-decoration: none;
  top: 0;
  left: 0;
  padding-left: 8px;
  font-size: 1.6rem !important;
}
.turnback .i-back {
  margin-right: 5px;
  vertical-align: text-top;
}
.i-logo {
  width: 110px;
  height: 30px;
  background: url("../images/moble_logo.png?20160506") no-repeat;
  -webkit-background-size: 110px 30px;
  background-size: 110px 30px;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 8px;
}
.choose-city {
  width: 84px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  text-decoration: none;
  top: 11px;
  left: 130px;
  font-size: 1.4rem !important;
}
.choose-city .i-back {
  margin-left: 3px;
  background-position: 0 -170px;
}
.header-cancel {
  line-height: 20px;
  font-weight: normal;
  right: 10px;
  top: 10px;
}
.header-uname {
  position: absolute;
  right: 50px;
  top: 10px;
  line-height: 20px;
  font-weight: normal;
}
.header-uname a:active,
.header-uname a:visited,
.header-uname a {
  position: static !important;
}
/*ͷ�����������Ӳ˵�*/
.h-menu-wrap.active .hm-wrap {
  display: block;
}
.h-menu-wrap .h-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 23px;
  height: 14px;
  background: url("../moble_img/selectcar-v2/sc-bg.png?v=20160506") no-repeat;
  background-size: 40px 200px;
}
.h-menu-wrap .hm-wrap {
  display: none;
}
.h-menu-wrap .hm-wrap .ms-list {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 116px;
  top: 44px;
  right: 16px;
  z-index: 10002;
}
.h-menu-wrap .hm-wrap .ms-list li {
  border-bottom: 1px solid #dfe5f2;
  line-height: 36px;
  height: 36px;
}
.h-menu-wrap .hm-wrap .ms-list li:last-child {
  border-bottom: 0px;
}
.h-menu-wrap .hm-wrap .ms-list li.active {
  background-color: #edf0f8;
}
.h-menu-wrap .hm-wrap .ms-list li.active a {
  color: #1345ab;
}
.h-menu-wrap .hm-wrap .ms-list li a {
  display: block;
  width: 100%;
  color: #000000;
  font-size: 1.5rem;
  padding: 0 20px;
}
.h-menu-wrap .hm-wrap .triangle-up {
  position: absolute;
  top: 25px;
  right: 26px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  z-index: 1003;
}
.footer {
  color: #1848a8;
  padding: 15px 16px;
  clear: both;
  background-color: #fff;
  border-top: 1px solid #c5d0e5;
}
.footer:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.footer:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.footer a {
  font-size: 1.4rem;
  color: #1848a8;
  line-height: 14px;
  border-right: 1px solid #c5d0e5;
  padding: 0 9px;
}
.footer a:last-child {
  border-right: 0;
  padding-right: 0;
}
.footer a:first-child {
  padding-left: 0;
}
.footer.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*ͷ����������*/
.hb2 .b2-2 {
  height: 44px;
  background: rgba(0, 0, 0, 0.6);
  line-height: 44px;
  padding: 0 16px;
  clear: both;
}
.hb2 .b2-2:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.hb2 .b2-2:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.hb2 .b2-2 a {
  color: #fff;
  font-size: 1.4rem;
}
.hb2 .b2-2 .a1 {
  float: left;
}
.hb2 .b2-2 .a2 {
  float: right;
}
.hb2 .b1 {
  width: 100%;
  height: 44px;
  background-color: #f8fbff;
  border-bottom: 1px solid #c5d0e5;
}
.hb2 .b1 .u1 {
  clear: both;
}
.hb2 .b1 .u1:after {
  content: "��";
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
}
.hb2 .b1 .u1:before {
  content: "��";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.hb2 .b1 .u1 li {
  float: left;
  width: 25%;
  padding-top: 10px;
  position: relative;
}
.hb2 .b1 .u1 li.active a {
  color: #ff6200;
}
.hb2 .b1 .u1 li.active a:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  z-index: 102;
  width: 100%;
  height: 2px;
  background-color: #ff6200;
}
.hb2 .b1 .u1 li:not(:last-child) a {
  border-right: 1px solid #c5d0e5;
}
.hb2 .b1 .u1 li a {
  display: block;
  line-height: 24px;
  text-align: center;
  font-size: 1.4rem;
  color: #000000;
}
